<%= image_tag(@production.logo_url) %>

<h2><%= @production.title %></h2>
<h4><%= @production.season %></h4>
<%= @production.company.name %>

<% @production.teams.each do |team| %>
  <%= team.name %>
<% end %>

<% if @production.company.current_manager(current_user) %>
  <%= link_to "Create a new team", new_company_production_team_path(@production.company, @production) %>
  <%= link_to "Create a new rehearsal", new_company_production_rehearsal_path(@production.company, @production) %>
<% end %>
