<main class='user-show'>
  <section class='user-content'>
    <h2>Your Account</h2>
    <% if @user.image_url %>
      <%= image_tag(@user.image_url) %>
    <% end %>
    <%= @user.name %>
    <%= link_to "Create a new company", new_company_path, class: 'orange-button' %>
  </section>

  <section class='user-companies'>
    <% @user.managements.each do |management| %>
      <div class='company-card'>
        <%= image_tag(management.company.logo_url) %>
        <h4><%= link_to management.company.name, company_path(management.company.name) %></h4>
      </div>
    <% end %>
  </section>
</main>
