<div class='rehearsal-show'>
  <div class='rehearsal-info'>
    <%= image_tag(@rehearsal.production.logo_url) %>
    <h2><%= @rehearsal.production.title %></h2>
    <h4><%= @rehearsal.date %></h4>
    <h5><%= @rehearsal.location %></h5>
    
    <% if @rehearsal.description %>
      <p><%= @rehearsal.description %></p>
      <button class='red-button' id='description'>Update Description</button>
    <% else %>
      <button class='red-button' id='description'>Add Description</button>
    <% end %>
    <button class='teal-button' id='note'>New Note</button>
    <%= form_tag("/api/v1/rehearsals/#{@rehearsal.id}", method: 'patch', class: 'description-form') do %>
      <%= text_area_tag 'rehearsal[description]', @rehearsal.description %>
      <%= submit_tag "Update Rehearsal" %>
    <% end %>
  </div>

  <section class='notes-column'>
    <h4>Notes</h4>
    <div class='notes'>
      <% @rehearsal.notes.each do |note| %>
        <div class='note'> 
          <p><%= note.content %></p>
          <div class="status <%= note.status %>"><%= note.status %></div>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div class='modal'>
  <div class="new-note">
    <h4>Add A Note:</h4>
    <form class='form'> 
      <input type='hidden' name='note_rehearsal' value=<%= @rehearsal.id %>>      
      <textarea type='textarea' name='note_content'></textarea>
      
      <label>Team</label>
      <select id='note_team_id'>
        <option></option>
        <% @rehearsal.production.teams.each do |team| %>
          <option value=<%= team.id %>><%= team.name %></option>
        <% end %>
      </select>
      
      <input type='submit' value='Create Note'>
    
    </form>
  </div>
</div>
