<!DOCTYPE html>
<html>
  <head>
    <title>RehearsalTracker</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
