<!DOCTYPE html>
<html>
  <head>
    <title>RehearsalTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash flash-#{name}" %>
    <% end %>
    <div class='page-content'>
      <%= yield %>
    </div>
  </body>
</html>
